<div id="searchResults">
  <div id="searchbox" class="title is-3">
    <ul style="padding: 10px;">Search a recipe : <p class="is-size-6">Powered by <img
          src="/images/logo-algolia-nebula-blue-full.png" class="algolia-logo" /></p>
    </ul>
  </div>
  <div id="hits"></div>
</div>