<p>Your favorites recipes</p>

{{#each userFavorites}}
<ul>
  <li><a href="/oneRecipe/{{this.recipes._id}}">{{this.recipes.title}}</a></li>
</ul>
<button><a href="/delete-fav-recipe/{{this.recipes._id}}"> DELETE </a></button>
{{/each}}