<section class="hero is-fullheight">
  <div class="hero-header">
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
      <div class="column left">
        <p class="navbar-item has-text-dark">HEALTHMATE</p>
      </div>
      <div class="column center desktop">
        <p class="navbar-item has-text-dark">WHAT IS YOUR BMR ?</p>
        <p class="navbar-item has-text-dark">WHAT TYPE OF FOODIE ARE YOU ? </p>
        <p class="navbar-item has-text-dark">MISLEADING FACTS ABOUT FOOD</p>
      </div>
      <div class="column right">
        <a href="/signup-login" class="navbar-item has-text-dark">SIGN IN</a>
        <p class="navbar-item has-text-dark">LOGIN</p>
        <figure class="navbar-item image has-text-dark center">
          <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
        </figure>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
      <div class="column bottom is-overlay has-text-black">
        <button class="button is-large is-inverted is-warning" style="bottom:200px;">GET STARTED</button>
      </div>
    </div>
    <div class="hero-foot">
    </div>
</section>