<div class="hero form-page is-fullheight">
  <div class="hero-head">
    <div class="container">
      <h3 class="title has-text-centered">Your profile information :</h3>
    </div>
  </div>
  <div class="section center">
    <div class="card">
      <div class="card-content">
        <form action="/process-user-data" method="post">
          <div class="field">
            <label class="label">
              <label class="label">Height</label>
            </label>
            <div class="control">
              <input class="input" type="text" name="height" value="" placeholder="metrics units" required>
            </div>
            <p class="help">centimeters (cm)</p>
          </div>
          <div class="field">
            <label for="" class="label">Weight :</label>
            <div class="control">
              <input class="input" type="text" name="weight" value="" placeholder="metrics units" required>
            </div>
            <div class="help">kilograms (Kg)</div>
          </div>
          <div class="field">
            <label for="" class="label">Age :</label>
            <div class="control">
              <input class="input" type="text" name="age" value="" placeholder="" required>
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Gender :</label>
            <div class="control">
              <div class="select">
                <select name="gender">
                  <option disabled>Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Activity :</label>
            <div class="control">
              <div class="select">
                <select name="activity" id="">
                  <option disabled>Activity</option>
                  <option value="Sedentary">Sedentary : little or no excercise at all</option>
                  <option value="Little Active">Little Active : little excercise, workout 1-3 days/week</option>
                  <option value="Moderately Active">Moderately Active : moderated exercise, workout 3-5 days/week
                  </option>
                  <option value="Very Active">Very Active : Intense exercise, workou 6-7 days/week </option>
                  <option value="Hyper Active">Hyper Active : Very intense exercise, physical work,
                    workout 2 hours or more</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label" for="">Objective :</label>
            <div class="control">
              <div class="select">
                <select name="objective" id="">
                  <option value="Weight Loss">Weight Loss : BMR minus 20%</option>
                  <option value="Slow Weight Loss">Slow Weight Loss : BMR minus 10%</option>
                  <option value="Maintain" selected>Maintenai Weight : BMR</option>
                  <option value="Slow Weight Gain">Slow Weight Gain : BMR plus 10%</option>
                  <option value="Weight Gain">Weight Gain : BMR plus 20%</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>