<div class="signup">

  <form action="/process-signup" method="POST">




    <button>signup</button>
  </form>

</div>

<div class="login">

  <form action="/process-login" method="POST">




    <button>login</button>
  </form>

</div>