<div class="columns">


  <div class="container">
    <div class="column is-two-fifth signup">
      <h3 class="title is-3">Sign In:</h3>
      <div class="field">
        <form action="/process-signup" method="POST">
          <label class="label">Your Full Name:</label>
          <div class="control">
            <input class="input" type="text" name="fullName" placeholder="John Doe" minlength="2" required />
          </div>
          <p class="help">Required</p>
      </div>

      <div class="field">
        <label class="label">Your Email:</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" placeholder="John@doe.com" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help">Required</p>
      </div>

      <div class="field">
        <label class="label">Choose a Password:</label>
        <div class="control">
          <input class="input" type="password" name="password" placeholder="Go for it..." required>
        </div>
        <p class="help">Has to contain a digit [0-9]</p>
      </div>

      <div class="field">
        <label class="label">A Few Words About You:</label>
        <div class="control">
          <textarea class="textarea" type="text" name="bio" placeholder="I love fitness and jogging !" minlength="10"
            required></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Your Photo:</label>
        <div class="control">
          <input class="input" type="url" name="image" placeholder="Url of your photo !">
        </div>
        <br>
        <p><b>OR</b></p>
        <br>
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>
      </div>
      <br>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
      </form>
    </div>
  </div>



  <div class="is-divider-vertical" data-content="OR"></div>


  <div class="container">
    <div class="column is-half login">
      <h3 class="title is-3">Log In:</h3>
      <form action="/process-login" method="POST">
        <div class="field">
          <label class="label">Email:</label>
          <div class="control">
            <input class="input" type="email" name="email" placeholder="John@doe.com" required />
          </div>
        </div>

        <div class="field">
          <label class="label">Password:</label>
          <div class="control">
            <input class="input" type="password" name="password" placeholder="You know you know..." required>
          </div>
        </div>
        <br>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Log In</button>
          </div>
        </div>
      </form>
      <br>
      <div class="is-divider" data-content="OR"></div>
      <br>
      <div class="slack-signin">
        <a href="/auth/slack"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
      </div>
      <br>
      <div>
        <a href="/auth/google"><img src="/images/btn_google_signin_dark_pressed_web.png" /></a>
      </div>
    </div>
  </div>


</div>