<div class="signup">
  <h2>Sign Up</h2>
  <form action="/process-signup" method="POST">

    <label>
      Your Full Name (2 characters or more): *
      <input type="text" name="fullName" placeholder="John Doe" minlength="2" required>
    </label>

    <label>
      Enter your email: *
      <input type="email" name="email" placeholder="John@doe.com" required>
    </label>

    <label>
      Choose a password (Must contains a digit 0-9): *
      <input type="password" name="password" placeholder="Go for it..." required>
    </label>

    <label>
      Say something about you:
      <input type="text" name="bio" placeholder="I love fitness and jogging !" minlength="10" required>
    </label>

    <label>
      Add a photo:
      <input type="text" name="image" placeholder="Url of your photo !" required>
    </label>

    <p><b>* required field.</b></p> <br> <br>
    {{> flash}}

    <button>signup</button>
  </form>

</div>

<div class="login">
  <h2>Log In</h2>
  <form action="/process-login" method="POST">

    <label>
      Email:
      <input type="email" name="email" placeholder="John666" required>
    </label>

    <label>
      Password:
      <input type="password" name="password" placeholder="You know you know..." required>
    </label>


    <button>login</button>
  </form>

</div>

<div class="slack-signin">
  <a href="/auth/slack">Login With Slack</a>
</div>